@charset "UTF-8";
@font-face {
  font-family: WinterStorm;
  src: url("/fonts/WinterStorm.ttf");
}
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation: none !important;
    transition: none !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: WinterStorm;
}

header {
  height: 4em;
  background-color: whitesmoke;
  box-shadow: 0px 14px 50px -6px rgba(0, 0, 0, 0.49);
}

@media (min-width: 768px) {
  header {
    position: relative; /* Añadir esta línea */
    z-index: 1; /* Añadir esta línea */
  }
}
.container-fluid {
  height: 4em;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navb-logo img {
  width: 3.5em;
  height: auto;
}

.navb-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navb-items li {
  display: inline-block;
  margin-right: 20px;
}

.navb-items li a {
  text-decoration: none;
  line-height: 40px;
  font-size: 15px;
  letter-spacing: 3px;
}

.navb-item {
  text-align: center;
  color: #102447;
  padding: 5px 0;
  transition: all 0.1s ease;
  border-bottom: 0px solid #64d;
  border-top: #64d;
  cursor: pointer;
}
.navb-item:hover {
  border-bottom: 3px solid #ffa323;
  border-top: 3px solid #ffa323;
  color: #64d;
}

.item-button a {
  display: inline-flex;
  position: relative;
  color: #64d;
  padding: 0 10px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: all 0.5s ease;
  text-decoration: none;
}

.item-button a span {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .item-button a:hover {
    color: #000;
  }
  .item-button a::before {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    background: #ffa323;
    transition: width 0.5s, height 0.5s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
  }
}
.item-button:hover a::before {
  color: #64d;
  width: 300px;
  height: 300px;
}

#introduction {
  position: relative; /* Añadir esta línea */
  z-index: 0;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffdaf2;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em 0em;
  gap: 2em;
}

.social-icons i:hover {
  color: #61ff56;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  #bg-content {
    background-color: #aaa4ff;
    box-shadow: 50px 12px 34px 8px rgba(102, 68, 221, 0.3), -21px 12px 34px 8px rgba(170, 164, 255, 0.3), -50px 14px 34px 8px rgba(15, 76, 11, 0.2), 12px 14px 34px 2px rgba(255, 163, 35, 0.3);
  }
  .navb-items .desk,
  .item-button {
    display: none;
  }
  .navb-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navb-items li {
    display: block;
    margin-bottom: 10px;
  }
  .navb-items li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
  }
  .navb-items li a i {
    position: relative; /* Añadir esta línea */
    z-index: 1; /* Añadir esta línea */
    color: #64d;
    font-size: 2em;
    padding: 0 0 3px 3px;
  }
  .mobile-option,
  .navb-items .item-button a {
    border-bottom: 3px solid #64d;
  }
  .navb-items .item-button:hover a {
    border-bottom: 3px solid #61ff56;
  }
}
.title {
  display: flex;
  align-items: center;
  flex: 1;
  text-align: center;
  padding-bottom: 10em;
}

.title h1 {
  font-size: 4em;
  color: #64d;
}

.title h1 span + span {
  color: #ffa323;
}

.title img {
  width: 30em; /* Ajusta el margen según tu diseño */
}

@media (max-width: 992px) {
  .title {
    display: block;
    align-items: center;
    margin: 0 3em;
    justify-content: center;
  }
  .title img {
    width: 20em; /* Ajusta el margen según tu diseño */
  }
}
#intro-details {
  position: relative;
  overflow: hidden;
  background-color: #d0cdfe; /* Asegura que el color de fondo no sea afectado por la opacidad */
}

#intro-details::before {
  content: "";
  background-image: url("/images/logo-caroline.svg");
  background-size: contain; /* Ajusta el tamaño de la imagen de fondo */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el pseudo-elemento */
  width: 80%; /* Ajusta el tamaño de la imagen de fondo */
  height: 80%; /* Ajusta el tamaño de la imagen de fondo */
}

#details {
  position: relative;
}

#intro-details div {
  padding: 10em 0;
}

.bg-details {
  position: absolute;
}

@media (min-width: 768px) {
  #intro-details {
    height: 100vh;
    overflow: hidden;
  }
}
.details {
  color: #102447;
}

.strong {
  color: #64d;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#contact-me {
  background-color: #aaa4ff;
  display: flex;
  align-items: center;
}

#contact-details {
  display: ruby;
  color: whitesmoke;
  padding: 10em 0;
  box-shadow: 2px 42px 62px -5px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 2px 42px 62px -5px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 42px 62px -5px rgba(0, 0, 0, 0.44);
}

#contact-details div {
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  #contact-me {
    height: 109vh;
    overflow: hidden;
  }
  #contact-me div h2 {
    font-size: xx-large;
  }
  .div-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Añadir un espacio entre los elementos */
  }
  .div-form label {
    white-space: nowrap;
  }
}
input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  flex-grow: 1; /* Hacer que el input ocupe todo el espacio restante */
}

label {
  margin-right: 15px;
}

/* CSS */
.button-53 {
  margin: 3em auto;
  background-color: #ffa323;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  -webkit-text-decoration: none #000000 solid;
          text-decoration: none #000000 solid;
  width: 100%;
  max-width: 460px;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=styles.css.map */